## Listas

In [13]:
frutas = ['pera', 'banana',9]
frutas.append('maçã')

In [17]:
frutas.remove(9)

ValueError: list.remove(x): x not in list

## Tuplas

In [19]:
type(('a','b'))
(1,2)

(1, 2)

## Laço de repetição FOR

In [21]:
for fruta in frutas:
    print(fruta)

pera
banana
maçã

In [30]:
list = []

for i in range(3):
    list.append(i)

list

[0, 1, 2]

In [28]:
[2-index for index in range(3)]

[2, 1, 0]

## Laço de repetição WHILE

In [33]:
i=0
while i<10:
    print("i: ", i)
    i+=1

i:  0
i:  1
i:  2
i:  3
i:  4
i:  5
i:  6
i:  7
i:  8
i:  9

## Dicionários

In [36]:
dicio = {}
dicio[0] = "Janeiro", "Jan"

In [38]:
dicio[1] = "Fevereiro", "Fev"

In [42]:
dicio

{0: ('Janeiro', 'Jan'), 1: ('Fevereiro', 'Fev')}

## Funções

In [54]:
def soma(a,b):
    return(a+b)

In [55]:
soma(1,1) +2

4

## Carregando dados

In [57]:
with open('dados.txt', 'r') as arquivo:
    conteudo = arquivo.read()

In [58]:
type(conteudo)

str

## Usando bibliotecas

In [59]:
import pandas as pd

pd.read_csv('dados.txt')

      1
0     2
1     3
2     5
3     6
4     7
5     8
6     4
7   545
8    12
9     1
10  123
11  434