# Aula 07

Na aula passada come√ßamos a trabalhar com o dataset do Titanic, fizemos a etapa de processamento. E a ideia √© ir guardando o c√≥digo que foi apresentando os resultados esperados.

In [1]:
import pandas as pd
import requests
from io import StringIO
import re

# Cria√ß√£o do dataFrame dos alunos
# ID do arquivo no Google Drive
file_id = '1S5Nl793vcL5ZPTGjzKaIEbwbLaDplvIP'

# URL modificada para for√ßar o download do arquivo
url = f"https://drive.google.com/uc?id={file_id}"

# Tentando obter o arquivo com requests
try:
    response = requests.get(url)
    response.raise_for_status()  # Lan√ßa um erro para respostas n√£o-sucedidas
    # Usando StringIO para converter o texto em um arquivo em mem√≥ria e, ent√£o, lendo com o Pandas
    csv_raw = StringIO(response.text)
    data = pd.read_csv(csv_raw)
except requests.RequestException as e:
    print(f"Erro ao acessar o arquivo: {e}")


#Transformando o PassengerId no √≠ndice
data = data.set_index("PassengerId")

#Criando uma fun√ß√£o que encontra os pronomes de tratamentos dos passageiros
def extract_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    if title_search:
        return title_search.group(1)
    return ""

#Aplicando a fun√ß√£o na coluna de nomes, isto √©, criando uma coluna s√≥ com os pronomes de tratamentos
data['Title'] = data['Name'].apply(extract_title)

#Substituindo os valores ausentes das idades pela mediana agrupada por sexo e classe de passageiro
data['Age'] = data.groupby(['Sex', 'Pclass'])['Age'].transform(lambda x: x.fillna(x.median()))

#Substituindo os valores ausentes do porto de embarque pelo valor que mais apareceu
data['Embarked'] = data['Embarked'].fillna('S')

#Substituindo os valores ausentes da cabine com base na Classe e no mapa do navio
for num in [1, 2, 3]:
    if num == 1:
        data.loc[data['Pclass'] == 1, 'Cabin'] = data.loc[data['Pclass'] == 1, 'Cabin'].fillna('ABC')
    elif num == 2:
        data.loc[data['Pclass'] == 2, 'Cabin'] = data.loc[data['Pclass'] == 2, 'Cabin'].fillna('DE')
    elif num == 3:
        data.loc[data['Pclass'] == 3, 'Cabin'] = data.loc[data['Pclass'] == 3, 'Cabin'].fillna('FG')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     891 non-null    object
 10  Embarked  891 non-null    object
 11  Title     891 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 90.5+ KB

In [5]:
data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,FG,S,Mr
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,FG,S,Miss
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,FG,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,DE,S,Rev
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.5,1,2,W./C. 6607,23.4500,FG,S,Miss
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,FG,Q,Mr

## Medidas de Tend√™ncia Central

### M√©dia

A <u>m√©dia aritm√©tica</u>, ou simplesmente m√©dia, de um conjunto de valores √© a medida de centro encontrada somando todos os valores do conjunto e divindo pelo n√∫mero de valores. Assim, se $x_1+x_2+...+x_n$ s√£o os n valores de um conjunto de dados, a m√©dia aritm√©tica$(\bar{x})$ √© determinada da seguinte maneira:

$\bar{x}=\frac{x_1+x_2+...+x_n}{n}$

A partir de agora vamos usar as bibliotecas Python para resolver nossos problemas. Mas se voc√™ tiver a curiosidade de saber como o problema poderia ser resolvido usando somente os conceitos n√£o deixe de olhar o material em Anexo. 

**Exemplo 1**: Determine a idade m√©dia dos passageiros do Titanic:

O *Exemplo 1* nos mostrou que a idade m√©dia das pessoas que estavam no Titanic foi de aproximadamente 29 anos, mas ser√° que esse n√∫mero representa bem todos os passageiros da embarca√ß√£o? 

Para tentar responder essa pergunta vamos dividir o nosso conjunto de dados em subconjuntos menores, buscaremos caracter√≠sticas que separam o conjunto em subconjunto complementares, por exemplo: Survived, Pclass, Sex, Age, Siblings/Spouses Aboard.

Essa ideia de dividir o conjunto original em subconjuntos com caracter√≠scas determinadas √© conhecida como <u>Estratifica√ß√£o</u>.

**Exemplo 2:** Encontre a idade m√©dia das pessoas do navio de acordo com o sexo.

Vimos na aula passada que √© poss√≠vel agrupar atributos e retirar as m√©dias usando a fun√ß√£o groupby.

**Obs:** Existem outras m√©dias, por√©m cada uma delas √© usada em situa√ß√µes espec√≠ficas. A saber:

- **M√©dia Ponderada:** Voc√™ deve usar uma m√©dia ponderada quando deseja atribuir mais import√¢ncia a alguns n√∫meros em um conjunto de dados do que a outros. Isso √© √∫til em cen√°rios onde um evento pode ter v√°rios resultados positivos ou negativos, e a magnitude desses resultados varia.

- **M√©dia Harm√¥nica:** A m√©dia harm√¥nica √© calculada como o n√∫mero de valores dividido pela soma do inverso de cada valor. √â apropriada quando os dados representam grandezas que s√£o inversamente proporcionais, como taxas.

- **M√©dia Geom√©trica:** A m√©dia geom√©trica √© calculada como a raiz N-√©sima do produto de todos os valores, onde N √© o n√∫mero de valores. √â √∫til quando os dados est√£o em uma escala multiplicativa, como em situa√ß√µes envolvendo crescimento ou taxa de varia√ß√£o entre diferentes unidades de medida.

### Mediana

A **mediana** da amostra √© o elemento central de um conjunto de dados ordenado (crescente ou decrescente). Se o n√∫mero de elementos ùëõ do conjunto de dados for √≠mpar, ent√£o a mediana √© o valor na posi√ß√£o do meio: $\frac{(ùëõ + 1)}{2}$. Se ùëõ for par, ent√£o a mediana √© a m√©dia aritm√©tica dos dois valores no meio, ou seja, os itens nas posi√ß√µes $\frac{ùëõ}{2}$ e $\frac{ùëõ + 1}{2}$.

**Exemplo 3:** Se tivermos os pontos de dados 3, 5, 1, 2 e 8, o valor mediano ser√° 3, pois 3 √© o elemento central ap√≥s a ordena√ß√£o do conjunto (1, 2, 3, 5, 8). Se os pontos de dados forem 3, 5, 1 e 8, ent√£o a mediana ser√° 4, que √© a m√©dia dos dois elementos centrais da sequ√™ncia ordenada (1, 3, 5, 8).

**Importante:** A principal diferen√ßa entre o comportamento da m√©dia e da mediana est√° relacionada aos valores extremos (outliers) do conjunto de dados. De uma maneira geral:

- Se voc√™ colocar um valor discrepante em um conjunto de dados, a m√©dia aumentar√°, mas o valor da mediana permanecer√° inalterado.
- Se voc√™ remover um valor discrepante de um conjunto de dados, a m√©dia diminuir√°, mas a mediana continuar√° a mesma.

Voc√™ pode usar a compara√ß√£o entre a m√©dia e a mediana como uma maneira de detectar discrep√¢ncias e assimetrias em seus dados.

**Exemplo 4:** Vamos determinar a mediana das Idades:

Assim:

### Moda

A <u>moda</u> da amostra √© o valor no conjunto de dados que ocorre com mais frequ√™ncia. Se n√£o houver um √∫nico valor desse tipo, o conjunto ser√° multimodal, pois possui v√°rios valores modais. 

**Exemplo 5:** Determine a moda dos conjuntos a seguir:

Aqui precisamos usar uma lambda function para encontrar a moda da idade por Sexo e Classe.

## Medidas de Localiza√ß√£o

O **percentil** ùëù da amostra √© o elemento no conjunto de dados tal que ùëù% dos elementos no conjunto de dados s√£o menores ou iguais a esse valor. Al√©m disso, (100 ‚àí ùëù)% dos elementos s√£o maiores ou iguais a esse valor. Se houver dois desses elementos no conjunto de dados, o percentil ùëù da amostra √© a m√©dia aritm√©tica deles.

Por exemplo, os percentis que dividem o conjunto de dados em quatro partes iguais s√£o chamados de Quartis. Cada conjunto de dados tem tr√™s quartis, que s√£o:

- O primeiro quartil $(Q_1)$ √© o percentil 25 da amostra. Ele divide aproximadamente 25% dos menores itens do restante do conjunto de dados.
- O segundo quartil $(Q_2)$ √© o percentil 50 da amostra, tamb√©m conhecido como a mediana. Aproximadamente 25% dos itens situam-se entre o primeiro e o segundo quartis, e outros 25% entre o segundo e o terceiro quartis.
- O terceiro quartil $(Q_3)$ √© o percentil 75 da amostra. Ele divide aproximadamente 25% dos maiores itens do restante do conjunto de dados.

**Exemplo 6:** Determine os quartis das idades dos passageiros do Titanic.